#signin{
	height: 100%;
	background-size: cover;
	background: url("../images/bglogin.png") no-repeat;
	background-position: center;
}

#header {
	padding-top: 16px;
    padding-bottom: 20px;
	padding-left: 90px;
	padding-right: 90px;
	background: #4a5a62;
}

#icone-home{
	font-size: 20pt;
	color: #fff; 
}
#icone-opcoes{
	height: 42px;
	width: auto;
	color: #fff; 	
}

#navbar {
	height: 80px;
	width: 100%;
	background-size: cover;
	background: url("../images/navbar.png") no-repeat;
	background-position: center;  
}

#dashboard {
	/*margin-top: 80px;*/
}

#steps {
	margin-top:10px;
}

#internalsteps {
	margin-top: 10px;
}

.ui.button.header {
	color: #fff;
	background: #4a5a62;
}

.ui.grid {
	margin: auto; 
	width: 90%;
}

#butao_de_volta {
	background: #4a5a62;
}

.twelve.wide.column {
	padding-top: 20px;
	padding-right: 10px;
}

.ui.container {
	width: 98%;
}

.ui.secondary.vertical.pointing.menu>.item {
	font-size: 18pt;
	font-family: "Raleway";
}

.label_batery{
	width: 45%;
}

.container.search{
	margin-top: 10px;
	margin-bottom: 10px; 
	width: 20%;
}

#app-layout {
	margin-top: 20px;
}

.item {
	font-size: 14pt;
	font-family: "Raleway";
}

.input_dinamico {
	margin: 10px;
	padding: 10px; 
}

.ui.icon.teal.button {
	margin-top: 4px;
}

#scroll {
    height: 900px;
    overflow: scroll;
}

.campo {
	display: none;
}


.inputs_de_treino {
	margin-bottom: 40px;
	margin-top: 40px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2); 
	padding: 20px;
	border-radius: 8px;
}