@import "helpers/colors";
@import "helpers/helpers";
@import "helpers/typography";
@import "components/switch";


/* ==========================================================================
   BOOTSTRAP MEASURES
   ==========================================================================
   Phones                    < 768px
   Small Devices (Tablets)   >= 768px
   Medium Devices (Desktops) >= 992px
   Large Devices (Desktops)  >= 1200px
   ========================================================================== */

/* ==========================================================================
   STRUCTURE E APPEARANCE
   ========================================================================== */

/* Wrappers
   ========================================================================== */

body {
    font-family: "Nexa", Arial, sans-serif;
    font-size: 16px;
}
.container { .relative; }


/* header
   ========================================================================== */

#header {
    border-bottom: 5px solid @yellow;
    
    figure {
        width: 200px;
        height: auto;
        margin: 10px auto;
        float: none;

        a {
            img {
                transition: all 0.5s;
                -webkit-transition: all 0.5s;

                &:hover {
                    transform: scale(1.1, 1.1);
                    -ms-transform: scale(1.1, 1.1);
                    -webkit-transform: scale(1.1, 1.1);
                   
                } 
            }
        }
    }
}


/* home
   ========================================================================== */

#home {
    border-top: 5px solid @gray-dark;
    padding: 50px 0;

    .container {
        .form-main {
            .form-horizontal {
                .row {
                    .categoria {
                        div {
                            select { border: 1px solid @yellow; }
                        }
                    }
                    .genero {
                        .chave {
                            float: none;
                            width: 200px;
                            margin: auto;

                            span, .switch { vertical-align: middle; }
                            span {
                                width: 50px;
                                margin: 0 10px;
                                line-height: 40px;
                                text-align: center;
                            }
                        }
                    }
                    .recarregar {
                        .btn {
                            background-color: transparent;
                            height: 40px;
                            outline: none;
                            margin: auto;
                            display: block;

                            i { 
                                margin-right: 5px; 
                                transition: all 1s;
                                -webkit-transition: all 1s;
                            }

                            &:hover {
                                
                                i {
                                     -ms-transform: rotate(-360deg); /* IE 9 */
                                     -webkit-transform: rotate(-360deg); /* Safari */
                                      transform: rotate(-360deg);
                                }
                            }
                        }
                    }
                }
            }
        }

        .pontuacao {
            margin-top: 50px;

            .table {
                text-transform: uppercase;
                font-size: 14px;
                text-align: center;

                thead {
                    th {
                        height: 50px;
                        text-align: center;
                    }
                }

                tbody {
                    tr {
                        .winner { color: darken(@yellow, 20%); }
                        
                        td {
                            color: #5E5E5E;
                            border: none;
                            vertical-align: middle;

                            p { margin: 5px; }
                        }

                        &:nth-child(odd) {
                            td { background-color: lighten(@yellow, 37%); }
                        }
                    }
                }
            }
        }
    }
}


@media (max-width: 768px) {
    #home {
        .container {
            .form-main {
                .form-horizontal {
                    .row {
                        font-size: 13px;
                        
                        .categoria { margin-bottom: 30px; }
                        .recarregar {
                            .btn { float: right; }
                        }
                    }
                }
            }
            .pontuacao {
                .table {
                    font-size: 12px;
                }
            }
        }
    }
}
