/**
 * CORES PRIMÁRIAS DO SITE
 */
/* RESET
   ========================================================================== */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
figure {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
p {
  margin: 0 0 15px 0;
  line-height: 1.3em;
}
img {
  max-width: 100%;
}
/* Class Helpers
   ========================================================================== */
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.text-center {
  text-align: center;
}
.uppercase {
  text-transform: uppercase;
}
.block {
  display: block;
}
.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}
.nomargin {
  margin: 0 !important;
}
.nopadding {
  padding: 0 !important;
}
/* Floating & Alignment
   ========================================================================== */
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.cb {
  clear: both;
}
/* Mixins
   ========================================================================== */
.ratio {
  position: relative;
}
.ratio:before {
  display: block;
  content: "";
  width: 100%;
}
.ratio > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.ratio-16-9:before {
  padding-top: 56.25%;
}
.ratio-1-1:before {
  padding-top: 100%;
}
a:focus {
  outline: none;
}
img:focus {
  outline: none;
}
/* This stylesheet generated by Transfonter (http://transfonter.org) on November 9, 2016 7:28 PM */
@font-face {
  font-family: 'Nexa';
  src: url('../fonts/nexabold/NexaBold.eot');
  src: url('../fonts/nexabold/NexaBold.eot?#iefix') format('embedded-opentype'), url('../fonts/nexabold/NexaBold.woff2') format('woff2'), url('../fonts/nexabold/NexaBold.woff') format('woff'), url('../fonts/nexabold/NexaBold.ttf') format('truetype'), url('../fonts/nexabold/NexaBold.svg#NexaBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Headers
   ========================================================================== */
h1,
h2,
h3,
h4,
h4,
h6 {
  margin: 0;
}
h1,
h2,
h3 {
  font-family: "Nexa", sans-serif;
  color: #000;
  text-transform: uppercase;
  font-weight: normal;
}
h1 {
  margin: 10px 0 20px 0;
  font-size: 43px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
}
/* Links
   ========================================================================== */
a,
a:visited,
a:active,
a:hover {
  text-decoration: none !important;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 25px;
}
.switch input {
  display: none;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #383535;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 2px;
  background-color: #FDCB2D;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #383535;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(32px);
  -ms-transform: translateX(32px);
  transform: translateX(32px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 35px;
}
.slider.round:before {
  border-radius: 50%;
}
/* ==========================================================================
   BOOTSTRAP MEASURES
   ==========================================================================
   Phones                    < 768px
   Small Devices (Tablets)   >= 768px
   Medium Devices (Desktops) >= 992px
   Large Devices (Desktops)  >= 1200px
   ========================================================================== */
/* ==========================================================================
   STRUCTURE E APPEARANCE
   ========================================================================== */
/* Wrappers
   ========================================================================== */
body {
  font-family: "Nexa", Arial, sans-serif;
  font-size: 16px;
}
.container {
  position: relative;
}
/* header
   ========================================================================== */
#header {
  border-bottom: 5px solid #FDCB2D;
}
#header figure {
  width: 200px;
  height: auto;
  margin: 10px auto;
  float: none;
}
#header figure a img {
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
#header figure a img:hover {
  transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
}
/* home
   ========================================================================== */
#home {
  border-top: 5px solid #383535;
  padding: 50px 0;
}
#home .container .form-main .form-horizontal .row .categoria div select {
  border: 1px solid #FDCB2D;
}
#home .container .form-main .form-horizontal .row .genero .chave {
  float: none;
  width: 200px;
  margin: auto;
}
#home .container .form-main .form-horizontal .row .genero .chave span,
#home .container .form-main .form-horizontal .row .genero .chave .switch {
  vertical-align: middle;
}
#home .container .form-main .form-horizontal .row .genero .chave span {
  width: 50px;
  margin: 0 10px;
  line-height: 40px;
  text-align: center;
}
#home .container .form-main .form-horizontal .row .recarregar .btn {
  background-color: transparent;
  height: 40px;
  outline: none;
  margin: auto;
  display: block;
}
#home .container .form-main .form-horizontal .row .recarregar .btn i {
  margin-right: 5px;
  transition: all 1s;
  -webkit-transition: all 1s;
}
#home .container .form-main .form-horizontal .row .recarregar .btn:hover i {
  -ms-transform: rotate(-360deg);
  /* IE 9 */
  -webkit-transform: rotate(-360deg);
  /* Safari */
  transform: rotate(-360deg);
}
#home .container .pontuacao {
  margin-top: 50px;
}
#home .container .pontuacao .table {
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
}
#home .container .pontuacao .table thead th {
  height: 50px;
  text-align: center;
}
#home .container .pontuacao .table tbody tr .winner {
  color: #c29402;
}
#home .container .pontuacao .table tbody tr td {
  color: #5E5E5E;
  border: none;
  vertical-align: middle;
}
#home .container .pontuacao .table tbody tr td p {
  margin: 5px;
}
#home .container .pontuacao .table tbody tr:nth-child(odd) td {
  background-color: #fff9e8;
}
@media (max-width: 768px) {
  #home .container .form-main .form-horizontal .row {
    font-size: 13px;
  }
  #home .container .form-main .form-horizontal .row .categoria {
    margin-bottom: 30px;
  }
  #home .container .form-main .form-horizontal .row .recarregar .btn {
    float: right;
  }
  #home .container .pontuacao .table {
    font-size: 12px;
  }
}
