/**
 * CORES PRIMÁRIAS DO SITE
 */
@red1: #E34330;
@orange: #C94531;
@orange-dark: darken(@orange, 10%);
@gray: #E2E2E1;
@green: #008E4D;
@white: #FFFFFF;
@orange-button: #E24330;
@black: #000000;
@gray5d: #5D5D5D;