
/* Titulos das listas dos produtos
   ========================================================================== */
.title-products {
    text-align: center; 
    font-weight: bold;
    margin-bottom: 6px;
}
.hr {
    width: 16%; 
    margin-top: 0px;
    border-width: 3px; 
    border-color: @orange; 

    @media (max-width: 768px) {
        width: 50%;
    }
}

/* Padrão para todos os botoes buscar, atualizar e salvar
   ========================================================================== */

.btn {
    background-color: #E04330; 
    color: white; 
    text-transform: none;
    transition : background, 300ms, linear; 
    
    &:hover {
        background-color: darken(#E04330, 10%); 
        color: white;
    }
}

.btn-full { width: 100%; }


/* Slider principal no index
   ========================================================================== */

@height-banner: 475px;
#wrap-slider {
    position: relative;
    width: 100%;
    height: @height-banner;

    @media (max-width: 768px) { height: 140px; }

    #slider {
        position: absolute !important;
        z-index: 1;
        width: 100%;
        overflow: hidden !important;
        box-shadow: inset 0 1px 3px rgba(0,0,0,.3);

        .cycle-slide {
            position: relative;
            display: block;
            width: 100%;
            height: @height-banner;

            img {
                .absolute;
                top: 0;
                left: 50%;
                max-width: none;
                margin-left: -1920/2px;

                

                @media (max-width: 768px) {
                    width: 359px;
                    margin-left: -180px;
                }
            }
        }
    }
    .wrap-pager {
        position: absolute;
        left: 0;
        bottom: 20px;
        z-index: 100;
        width: 100%;
        text-align: center;

        .slider-pager span {
            width: 15px;
            height: 15px;
            display: inline-block;
            margin-right: 9px;
            -webkit-border-radius: 100%;
            -moz-border-radius: 100%;
            border-radius: 100%;
            overflow: hidden;
            text-indent: -999px;
            cursor: pointer;
            background-color: transparent;
            border: 2px solid @white;

            &.cycle-pager-active { background-color: @green; border: none; }
        }
    }
}


/* Padrão de setas next e prev para carrousel de marcas e itens relacionados
   ========================================================================== */
.container-with-arrow {
    .arrow {
        //margin-top: -40px;
        color: inherit;
        font-size: 0;
        background-color: #979797;

        .fa { font-size: 30px; padding: 3px 10px; color: @white;}
    }
}




/* Helpers para todos os forms do site
   ========================================================================== */

//Titulos dos forms com cor padrao
.form-title { color: #E04330; }

// Cor padrao do painel de form
.row-form { background-color: #ECEEEB; }

// Cores e formatos dos inputs dos forms
.inputs-forms {
    .form-group {
        label { font-weight: 500; }
        input, textarea {
            border-radius: 0px;
            background-color: @gray; 
        }
    }
    .btn { 
        width: 100%; 
        height: 35px;
        .uppercase;
    }
}

.form-full { width: 100%; }


/* Layout card de produtos re-aproveitável
   ========================================================================== */

.item-card {
    box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.75);
    height: 300px;
    margin-bottom: 20px;


    .border-radius;
    .img {
        height: 55%;
        width: 100%;
        padding-top: 15px;
        .relative;
        .fl;
        
        .prod {
            max-width: 115px; 
            margin: auto;
            .block; 
        }
    }
    .detail {
        width: 100%;
        height: 45%;
        padding-left: 0px;
        padding-top: 0px;
        text-align: center;
        display: table;
        .fl;
        
        .body-detail {
            display: table-cell;
            vertical-align: middle;
            
            .list-stars {
                margin: 5px 0px; 
                
                li {
                    padding: 0; 

                    i {
                        color: #979797; 
                        font-size: 12px;
                    }
                }
            }
            .linked {
                font-size: 16px; 
                color: #000; 
                .uppercase; 
                
                &:hover { 
                    color: @orange; 
                    text-decoration: underline !important;
                }
            }
            .price {
                margin-bottom: 0px;
                font-size: 20px; 
                color: @orange; 
                .uppercase; 
            }
        }
        
    }
    &:hover {
        .sobre { display: block; }
    }
}

/* Efeito de hover sobre as imagens de todos os produtos
   ========================================================================== */

.sobre {
    width: 100%;
    height: 100%;
    top: 0;
    display: none;
    background:rgba(0,0,0,0.2);
    border-radius: 5px 5px 0px 0px;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    .absolute;

    .ico {
        width: 90px;
        margin: 60px auto;

        #icons-list {
            li {
                width: 40px;
                height: 40px;
                padding-top: 6px;
                background-color: @white;
                text-align: center;
                .border-radius();
                
                &:not(:last-child) { margin-right: 10px; }
                a {
                    font-size: 22px; 
                    color: @gray5d; 
                
                    &:hover { color: @orange; }
                }
            }
        }
    }
}