/* RESET
   ========================================================================== */
* {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
figure { margin: 0; }
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
p {
    margin: 0 0 15px 0;
    line-height: 1.3em;
}
img { max-width: 100%; }

/* Class Helpers
   ========================================================================== */
.relative { position: relative; }
.absolute { position: absolute; }
.text-center { text-align: center; }
.uppercase { text-transform: uppercase; }
.block { display: block; }
.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}
.nomargin { margin: 0 !important; }
.nopadding { padding: 0 !important; }

/* Floating & Alignment
   ========================================================================== */
.fl { float: left; }
.fr { float: right; }
.clearfix:before,
.clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
.cb { clear: both; }

/* Grid
   ========================================================================== */

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

/* Mixins
   ========================================================================== */
.border-radius (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}
.box-shadow (@x: 0px, @y: 3px, @blur: 5px, @alpha: 0.5) {
    -webkit-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
    -moz-box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
    box-shadow: @x @y @blur rgba(0, 0, 0, @alpha);
}
.transition (@prop: all, @time: 1s, @ease: linear) {
    -webkit-transition: @prop @time @ease;
    -moz-transition: @prop @time @ease;
    -o-transition: @prop @time @ease;
    -ms-transition: @prop @time @ease;
    transition: @prop @time @ease;
}
.rtransition (@str) {
    -webkit-transition: @str;
    -moz-transition: @str;
    -o-transition: @str;
    -ms-transition: @str;
    transition: @str;
}
.gradient (@origin: left, @start: #ffffff, @stop: #000000) {
    background-color: @start;
    background-image: -webkit-linear-gradient(@origin, @start, @stop);
    background-image: -moz-linear-gradient(@origin, @start, @stop);
    background-image: -o-linear-gradient(@origin, @start, @stop);
    background-image: -ms-linear-gradient(@origin, @start, @stop);
    background-image: linear-gradient(@origin, @start, @stop);
}
.scale (@factor) {
    -webkit-transform:   scale(@factor);
    -moz-transform:      scale(@factor);
    -ms-transform:       scale(@factor);
    -o-transform:        scale(@factor);
}
.rotate (@deg) {
    -webkit-transform:   rotate(@deg);
    -moz-transform:      rotate(@deg);
    -ms-transform:       rotate(@deg);
    -o-transform:        rotate(@deg);
}
.transform(@string){
    -webkit-transform: @string;
    -moz-transform:      @string;
    -ms-transform:       @string;
    -o-transform:        @string;
}

.ratio {
    .relative;
}
.ratio:before {
    display: block;
    content: "";
    width: 100%;
}
.ratio > .content {
    .absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.ratio-16-9:before { padding-top: 56.25%; }
.ratio-1-1:before { padding-top: 100%; }


.container-with-arrow {
    width: 100%;
    padding: 0 35px;
    position: relative;
}
.container-with-arrow .arrow {
    top: 50%;
    margin-top: -20px;
    position: absolute;

    &.left { left: 0; }
    &.right { right: 0; }
}

a:focus { outline: none; }
img:focus { outline: none; }

