@import "fonts.less";

/* Headers
   ========================================================================== */

h1, h2, h3, h4, h4, h6 { margin: 0; }

h1, h2, h3 {
    font-family: "Avenir", sans-serif;
    color: #000;
    .uppercase;
    font-weight: normal;
}
h1 {
    margin: 10px 0 20px 0;
    font-size: 43px;
}
h2 {
    font-size: 36px;
}
h3 { font-size: 24px; }


/* Links
   ========================================================================== */
a,
a:visited,
a:active,
a:hover {
    text-decoration: none !important;
    .transition(all, .2s, ease-in);
}

/* Buttons
   ========================================================================== */

.btn {
  outline: none !important;
  font-family: "Avenir", sans-serif;
  .uppercase;
}
.btn-orange {
  background-color: @orange;
  color: #fff !important;

  &:hover { background-color: @orange-dark; }
  .fa {
    margin-right: 6px;
  }

}